body {
    font-family: 'Cairo', sans-serif !important;
    background-color: #f6f7fb !important;
}

/* ===== Header ===== */
.top-bar {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 12px 0;
}

.logo {
    height: 45px;
}
/* ===== Page Title ===== */
.badge{
    padding: 14px !important;
    border-radius: 25px !important;
    background-color: #DBEAFE !important;
    color: #1568FC !important;
}

/* ===== Unit Card ===== */
.unit-card {
    background-color: #fff;
    border: none;
    border-radius: 18px;

    /* ارتفاع أكبر */
    padding: 26px 22px;

    /* عرض أقل */
    max-width: 700px;
    width: 100%;
    margin: 0 auto; /* توسيط الكارد */

    /* شدوو واضح وجميل */
    box-shadow: 
        0 10px 30px rgba(0, 0, 0, 0.12);

    transition: 
        box-shadow 0.35s ease,
        transform 0.35s ease;
}

/* Hover احترافي */
.unit-card:hover {
    box-shadow: 
        0 20px 45px rgba(0, 0, 0, 0.18);
    transform: translateY(-6px);
}

/* العنوان */
.unit-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 6px;
}

/* التفاصيل */
.unit-meta {
    font-size: 14px;
    color: #777;
}

/* زر البدء */
.unit-card .btn-start {
    background-color: #6f4ef6;
    color: #fff;
    border-radius: 12px;
    padding: 8px 22px;
    font-size: 14px;
    transition: 
        background-color 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.25s ease;
}

.btn-start:hover {
    background-color: #5b3fe0; /* أغمق شوي */
    box-shadow: 0 6px 16px rgba(111, 78, 246, 0.4);
    transform: translateY(-2px);
}


/* كارد الاختبارات */
.exam-card {
    position: relative;
    background-color: #f9f9ff;
}

.exam-card .unit-title{
    font-size: 20px;
}
.exam-icon {
    font-size: 14px;
    color: #6f4ef6;
    margin-left: 6px;
}


/* شريط جانبي */
.exam-card::before {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    width: 5px;
    border-radius: 10px;
    background: linear-gradient(180deg, #6f4ef6, #9b87ff);
}


@media (max-width: 576px) {
    .unit-card {
        max-width: 100%;
        padding: 20px 16px;
        border-radius: 16px;
    }

    .unit-title {
        font-size: 15px;
    }

    .btn-start {
        padding: 7px 18px;
    }
}
